  
<div style='margin:auto; width:50%;'>
<h1 style="text-align:center">Menu</h1>
</div>
<div style='margin:auto; width:50%;'>
    <ul class="nav nav-pills">
        <% Section.all.each do |section| %>
          <li class="nav-item" style="text-align:center">
          <%= link_to "#{section.name}", menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
          </li>
        <% end %>
          <li>
            <%= link_to "Sort", food_items_path, class: "btn btn-warning", style: "align:center" %>
          </li>
    </ul>
    


</div>  
  	

<% if @section %>
  <% @section.food_items.each do |food| %> 
<div class='card'>
<div class="row">  
  <div class="card-block">
    <h4 class="col-md-4 border-radius-small"><%= food.name %></h4>
    <p class="col-md-2 border-radius-small"><%= food.price %></p>
    <div class="col-md-3 border-radius-small"><%= image_tag(food.image_url, :alt => "rss feed", :style => "height:100px",) %></div>

    <%= link_to "Details" , food, class: "btn btn-primary col-md-3" %>
  </div>
</div>
</div>
<% end %>
<% end %>
