<p>Thank you for your order!</p>

<p>
  <strong>Username</strong>
  <%= @order.username %>
</p>

<p>
  <strong>Address</strong>
  <%= @order.address %>
</p>

<%= @food_item.name %>
<%= @food_item.price + 20000 %> 
<%= @order.created_at.strftime("%A, %d , %Y, %H:%M ") %>



