<p id="notice"><%= notice %></p>
<div style='width:50%; margin:auto'>
<h1 style='text-align:center;'>All Foods</h1>
</div>  

  
  <%= link_to "Sort by name", food_items_path(sort_by: :name), class: "btn btn-warning" %>
  <%= link_to "Sort by price", food_items_path(sort_by: :price), class: "btn btn-warning" %>



<br />
<br />
<% @food_items.each do |food| %> 
<div class='card'>
<div class="row">  
  <div class="card-block">
    <h4 class="col-md-4 border-radius-small"><%= food.name %></h4>
    <p class="col-md-2 border-radius-small"><%= food.price %></p>
    <div class="col-md-3 border-radius-small"><%= image_tag(food.image_url, :alt => "rss feed", :style => "height:100px",) %></div>

    <%= link_to "Details" , food, class: "btn btn-primary col-md-3" %>
  </div>
</div>
</div>
<% end %>

 

<br>

